<!DOCTYPE html>
<html lang="en">
<head>
 <title>Home</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div class="container">
<form action={%url 'count'%}>
    <h1 class="alert alert-info"><center>My Home Page</center></h1><br>
    <textarea name="text"></textarea><br>
    <button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>
</html>